@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@500;600;700&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
background: #191919;
font-family: 'Plus Jakarta Sans', sans-serif;

}